* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
}

:root {
  --main-bg-color: rgb(154, 196, 196);
  --clock-bg-color: rgb(63, 114, 114);
  --color-light: antiquewhite;
}

body {
  width: 100%;
  background-color: var(--main-bg-color);
}

.clock {
  width: 30%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: var(--clock-bg-color);
  color: var(--color-light);
  border-left: 0.5vw solid black;
  border-right: 0.5vw solid black;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 3.3vw;
  padding: 1vw;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 0.3vw solid black;
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
  padding-bottom: 0.7vw;
}

.setting__label {
  font-size: 1.7vw;
  padding: 0.5vw;
}

.setting__control {
  margin: auto;
}

.setting__button, .control__button {
  width: 2.2vw;
  height: 2.2vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 0.5vw;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  cursor: pointer;
}

.setting__display {
  display: inline-block;
  width: 2.5vw;
  height: 2vw;
  font-size: 1.5vw;
  text-align: center;
}

.display {
  margin-top: 1vw;
  width: 94%;
  text-align: center;
  border: 0.3vw solid black;
  border-radius: 1vw;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.display__title {
  font-size: 1.7vw;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1vw;
}