* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg-color: rgb(182, 212, 212);
  --clock-bg-color: rgb(63, 114, 114);
  --red-bg-color: rgb(255, 232, 228);
  --color-light: antiquewhite;
  --color-dark: rgb(43, 39, 39);
  --color-red: tomato;
}

body {
  width: 100%;
  background-color: var(--main-bg-color);
}

.clock {
  width: 30%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: var(--clock-bg-color);
  color: var(--color-light);
  border-left: 0.5vw solid var(--color-dark);
  border-right: 0.5vw solid var(--color-dark);
}

.header {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  padding: 1vw;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 7vw;
  border: 0.3vw solid var(--color-dark);
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
  padding-bottom: 1vw;
}

.setting__label {
  font-size: 1.5vw;
  padding: 0.7vw 0;
  font-weight: 400;
}

.setting__control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5vw 0 1vw;
}

.setting__button,
.control__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.2vw;
  height: 2.2vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--main-bg-color);
}

.setting__button:hover,
.control__button:hover {
  background-color: var(--color-light);
  box-shadow: 0 0 0.2vw 0.2vw var(--color-dark);
}

.setting__display {
  display: inline-block;
  width: 2.5vw;
  height: 2vw;
  font-size: 1.5vw;
  text-align: center;
}

.display {
  margin-top: 1vw;
  width: 94%;
  text-align: center;
  border: 0.3vw solid var(--color-dark);
  background-color: var(--main-bg-color);
  color: var(--color-dark);
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}

.display__title {
  padding: 0.7vw;
  font-size: 1.7vw;
  font-weight: 800;
}

.display__timer {
  display: inline-block;
  padding-bottom: 1.2vw;
  font-size: 4vw;
  font-weight: 600;
}

.control {
  display: flex;
  padding: 1vw;
}

.control__button {
  margin: 0 0.3vw;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5vw;
  height: 1.5vw;
  background-color: var(--color-dark);
  color: var(--main-bg-color);
  font-size: 0.9vw;
  text-align: center;
  border-radius: 50%;
}

.circle:hover {
  color: var(--color-light);
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 0.9vw;
}

.last-minute {
  color: var(--color-red);
  background-color: var(--red-bg-color);
}

@media (max-width: 960px) {
  .clock {
    width: 40%;
  }
}

@media (max-width: 680px) {
  .clock {
    width: 50%;
  }

  .setting {
    height: 7.5vw;
  }
}